.qv-object-UHMB_Commentary_Table div.qv-object-content-container {
	
}

.qv-object-UHMB_Commentary_Table td,
.qv-object-UHMB_Commentary_Table th {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;	
	cursor: default;
	word-break: break-word;
	min-width: 150px;
	padding: 8px;
}
.qv-object-UHMB_Commentary_Table th{
	text-align: center;	
}
.qv-object-UHMB_Commentary_Table td{
	text-align: left;
}

.qv-object-UHMB_Commentary_Table button {
	width: 100%;
}
.qv-object-UHMB_Commentary_Table tr:nth-child(even) {
    background-color: #CFD5EA;
  }
.qv-object-UHMB_Commentary_Table tr:nth-child(odd) {
    background-color: #E9EBF5;
  }
  .qv-object-UHMB_Commentary_Table table {
	width: 100%;
  }